<div class=" d-flex flex-column" style="padding-top: 20px" [style.background-color]="backgroundColor">
	<nav>
		<ul>
			<li routerLink="/up">UP</li>
			<li routerLink="/down">Down</li>
			<li routerLink="/reset">Reset</li>
			<li >compteur : {{counter}}</li>
		</ul>
	</nav>
	<div>
		<router-outlet></router-outlet>
	</div>
</div>